.container{
    max-width: 800px;
    height: auto;
    margin: 0px auto;
    padding: 10px 20px;
}

#slack{
    visibility: hidden;
}
.profile__section{
    align-items: center;
    text-align: center;
}

.profile__img{
    margin: 15px auto;

}
.link__section{
    width: 100%;
    background-color: blue;
}
.link{
    text-align: center;
    background-color: red;
}
