.container{
    max-width: 800px;
    height: auto;
    margin: 0px auto;
    padding: 10px 20px 0px 20px;
}

#slack{
    visibility: hidden;
}

.profile__section{
    align-items: center;
    text-align: center;
    position: relative;
}

.profile__img{
    margin: 15px auto;
    
}
.profile__share{
    position: absolute;
    top: 0px;
    right: 100px;
    width: auto;
    transform: scaleX(-1);
    border-radius: 50px;
    border: 0.2px solid #eee;
    align-items: center;
    text-align: center;
}

.profile__share__icon{
    margin: 5px 10px;
}
.link__section{
    width: 100%;
}

.link__section > a{
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 15px 10px;
    background-color: #eee;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    font-weight: 600;
}

.icon__section{
    text-align: center;
    margin: 10px 0;
}

.brand__icon{
    margin: 0 20px;
}

.footer__line{
    border: 1px dotted #eee;
}

.footer__section{
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 0px;
}

.footer__section div{
    margin: 5px 0;
}

@media screen and (max-width:600px) {
    .profile__share{
        right: 0px;
    }
    .footer__section{
        display: block;
        text-align: center;
    }
}