.container{
    max-width: 800px;
    height: auto;
    margin: 0px auto;
    padding: 10px 20px;
}

#slack{
    visibility: hidden;
}
.profile__section{
    align-items: center;
    text-align: center;
}

.profile__img{
    margin: 15px auto;

}
.link__section{
    width: 100%;
}

.link__section > a{
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px 0;
    background-color: #eee;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
}
